<h1>Listing Contacts</h1>
<%= form_for list, url: list_add_contacts_path(list), method: :post do |f| %>
  <%= f.hidden_field :id %>
  <table class='table table-striped'>
    <thead>
      <tr>
        <th><%= check_box_tag 'select-all' %></th>
        <th>Name</th>
        <th>Last name</th>
        <th>Title</th>
        <th>Publication</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% contacts.each do |contact| %>
        <tr>
          <td><%= check_box_tag 'contact_ids[]', contact.id, false, class: 'contact-checkbox' %></td>
          <td><%= contact.first_name %></td>
          <td><%= contact.last_name %></td>
          <td><%= contact.title %></td>
          <td><%= contact.publication %></td>
          <td><%= link_to 'View Contact', contact, class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= f.submit 'Add Contacts' %>
<% end %>
