<%= link_to 'Edit List Name', edit_list_path(list) %> |
<%= link_to 'Back', lists_path %>

<h1><%= list.name %> list</h1>

<%= link_to "Download List", list_contacts_path(list, format: :csv), class: "btn btn-success" %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last name</th>
      <th>Title</th>
      <th>Publication</th>
      <th>Email</th>
      <th>Twitter</th>
      <th>Verified</th>
      <th>Lists</th>
    </tr>
  </thead>
  <tbody>
    <% contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.title %></td>
        <td><%= contact.publication %></td>
        <td><%= contact.phone %></td>
        <td><%= contact.email %></td>
        <td><%= contact.twitter %></td>
        <td>
          <div class='btn-group dropdown'>
            <button type='button' style='width:100%;' class='btn btn-primary dropdown-toggle'><span class='fa fa-gear'></span> Remove From List </button>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
