<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @list.name %>
</p>

<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>

<h1>Contacts on "<%= @list.name %>" list</h1>

<ul>
  <% @list.contacts.each do |list| %>
    <li><%= link_to contact.first_name, contact_path(contact) %></li>
  <% end %>
</ul>