<h1>Listing Contacts</h1>

<%= search_form_for @q do |f| %>

  <%= f.search_field :first_name_or_last_name_or_title_or_publication_cont %>

  <%= f.submit %>

<% end %></br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>Title</th>
      <th>Publication</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.title %></td>
        <td><%= contact.publication %></td>
        <td><%= link_to 'View Contact', contact, class: "btn btn-primary" %></td>
        <td><%= link_to 'Add To List', contact, class: "btn btn-info" %></td>
      </tr>
    
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Contact', new_contact_path %>
