<h1>Listing Contacts</h1>

<%= search_form_for @q do |f| %>

  <%= f.search_field :first_name_or_last_name_or_title_or_publication_cont %>

  <%= f.submit %>

<% end %></br>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last name</th>
      <th>Title</th>
      <th>Publication</th>
      <th>Email</th>
      <th>Twitter</th>
      <th>Verified</th>
      <th>Lists</th>
    </tr>
  </thead>

  <tbody>
    
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.title %></td>
        <td><%= contact.publication %></td>
        <td><%= contact.email %></td>
        <td><%= contact.twitter %></td>
        <td><%= contact.verified %></td>
        <td>
          <div class="btn-group dropdown btn-group-justified">
                      <button type="button" style="width:85%;" class="btn btn-primary dropdown-toggle">Add To List</button>
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown </span>
                      </button>
                      <ul class="dropdown-menu text-left" role="menu">
                        <li><a href="#">  List 1  </a></li>
                        <li><a href="#">  List 2  </a></li>
                      </ul>
          </div>
        </td>
      </tr>
    
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Contact', new_contact_path %>
