<h1>Listing Contacts</h1>
<br>
<h4>Search contacts:</h4>
<%= search_form_for @q do |f| %>

  <%= f.search_field :first_name_or_last_name_or_title_or_publication_cont %>

  <%= f.submit %>

<% end %>
<br>
<%= form_tag add_to_list_contacts_path, method: :post do%>

<h4>Add selected contacts to list:</h4>
  <%= select_tag 'list_id', options_from_collection_for_select(@lists, :id, :name), class: "form-control input-md" %>
<br>
  <%= submit_tag 'Add to list', class: "btn btn-primary" %>  <%= link_to 'Add new contact', new_contact_path, class: "btn btn-success" %>  <%= link_to 'Import Contacts', new_contact_path, class: "btn btn-warning" %>  <%= link_to 'Request A Contact', new_contact_path, class: "btn btn-danger" %>
<% end %>
<br>
<%= will_paginate @contacts, renderer: BootstrapPagination::Rails %>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= check_box_tag 'select-all' %></th>
      <th>Name</th>
      <th>Last name</th>
      <th>Title</th>
      <th>Publication</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= check_box_tag 'contact_ids[]', contact.id, false, class: 'contact-checkbox' %></td>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.title %></td>
        <td><%= contact.publication %></td>
        <td><%= link_to 'View Contact', contact, class: "btn btn-primary" %></td>
        <td><%= link_to 'Add To List', contact, class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @contacts, renderer: BootstrapPagination::Rails %>
<br>