<h1>Find Contacts</h1>
<%= search_form_for @search do |f| %>
<%= f.search_field :first_name_or_last_name_or_title_or_publication_cont, placeholder: 'Search by name, title or publication', class: 'form-control' %><%= f.submit nil, :class => 'btn btn-primary' %>
<% end %>
<br>
<%= form_tag add_to_list_contacts_path, method: :post do %>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= check_box_tag 'select-all' %></th>
      <th><%= sort_link(@search, :first_name, "First Name") %></th>
      <th><%= sort_link(@search, :last_name, "Last Name") %></th>
      <th><%= sort_link(@search, :title, "Title") %></th>
      <th><%= sort_link(@search, :name, "Publication") %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= check_box_tag 'contact_ids[]', contact.id, false, class: 'contact-checkbox' %></td>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.title %></td>
        <td><%= contact.publication %></td>
        <td><%= link_to 'View Contact', contact, class: "btn btn-primary" %></td>
        <td><%= link_to 'Add To List', contact, class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<h4>Add selected contacts to list:</h4>
<%= select_tag 'list_id', options_from_collection_for_select(@lists, :id, :name), class: 'form-control' %>
<%= submit_tag 'Add Contacts', :class => 'btn btn-primary' %>
<% end %>
<%= will_paginate @contacts, renderer: BootstrapPagination::Rails %>
<br>