<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
	<div class="row">
    </br>
                    <h3>Say hello to</h3>
                    <h2><%= @contact.first_name %> <%= @contact.last_name %></h2>
                    <h4><%= @contact.title %>, <%= @contact.publication %></h4>
                    <p>
                      <strong>Phone:</strong>
                      <%= @contact.phone %>
                    </p>              
                    <p>
                      <strong>Email:</strong>
                      <%= @contact.email %>
                    </p>

                    <p>
                      <strong>Twitter:</strong>
                      <%= @contact.twitter %>
                    </p>
                </div>
</div>

<%= render "listings_form" %></br>

<%= link_to 'New List', new_list_path, class: "btn btn-danger" %></br>

<% if current_user.admin? %>
  <%= link_to 'Edit', edit_contact_path(@contact) %> |
  <%= link_to 'Back', contacts_path %>
<% else %>
<% end %>
<div class="container">
	<div class="row">
                    <h2><%= @contact.first_name %> <%= @contact.last_name %></h2>
                    <h4><%= @contact.title %>, <%= @contact.publication %></h4>
                    <p>
                      <strong>Phone:</strong>
                      <a href="/">Sign in to view</a>
                    </p>              
                    <p>
                      <strong>Email:</strong>
                      <a href="/">Sign in to view</a>
                    </p>

                    <p>
                      <strong>Twitter:</strong>
                      <%= @contact.twitter %>
                    </p>
                </div>
</div>