<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @contact.title %>
</p>

<p>
  <strong>Publication:</strong>
  <%= @contact.publication %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @contact.twitter %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @contact.verified %>
</p>

<p>
  <strong>Add to list:</strong>
  <%= link_to "Select List", "#" %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
