<%# add navigation links to this file %>
<% if user_signed_in? %>
  <ul class="nav navbar-nav"> 
    <li><%= link_to 'Find', contacts_path %></li>
    <li><%= link_to 'Add', new_contact_path %></li>
    <li><%= link_to 'Request', new_contact_path %></li>
    <li><%= link_to 'Lists', lists_path %></li> 
    <li><%= link_to 'Settings', edit_user_registration_path %></li>
    <%= form_tag(contacts_path, method: 'get', class: 'navbar-form navbar-right') do %>
      <%= search_field_tag 'search', nil, class: 'form-control', placeholder: 'Search contacts'  %>
      <%= submit_tag "Submit", class: 'btn btn-default', :name => nil %>
    <% end %>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
  </ul>
<% else %>
  <ul class="nav navbar-nav navbar-right">
    <li><%= link_to 'Sign in', new_user_session_path %></li>
    <li><button type="button" class="btn btn-danger navbar-btn"><%= link_to 'Sign Up Free', new_user_registration_path, data: { no_turbolink: true } %></button></li>
  </ul>
<% end %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <ul class="nav navbar-nav">      
      <li><%= link_to 'Admin', '/admin' %></li>
      <li><%= link_to 'Users', users_path %></li>
    </ul>
  <% end %>
<% end %>
